.monitoreo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  background-color:#ECE8DE;
  width: 140%;
  margin-left: -20%;
}

.camara {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-gris);
  padding: 20px;
  border-radius: 10px;
}

.camara img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}



.monitoreoTablas {
  font-weight: bold;
  color: #131313;
  width: 100%;
}

.tablaVerde{
margin: 5%;
margin-left: -20%;

}

.tablaMaduro{
  margin: 5%;
  margin-left: 30%;
}