.monitoreo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  background-color:#ECE8DE;
  width: 100%;
}

.camara {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color-gris);
  padding: 20px;
  border-radius: 10px;
}

.camara img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.tablas {
  display: flex;
  justify-content: center;
  gap: 8%;
  margin-top: 5%;
}

.tablaMonitoreo {
  background-color: #ECE8DE;
  box-shadow: 0 4px 8px rgba(158, 156, 92, 0.882);
  border-radius: 5px;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputTabla {
  width: 520px;
  height: 130px;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  margin-block-end: 20px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 180%;
}