
.tabla-container {
  margin-top: 5%;
  width: 150%;
  height: 130%;
  padding: 5%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(158, 156, 92, 0.882);
  display: flex;
  flex-direction: column;
}

.monitoreoTablas{
  margin-right: 20%;
}
.containerInputs{
  gap: 10%;
}

.containerInputs input{
border: none;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 2% 0;
}

.page-item {
  margin: 0 1%;
}

.page-item button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem; 
}

.page-item.active button {
  background-color: var(--main-color-amarillo);
  color: white;
  border-color: var(--main-color-amarillo);
}