:root{
  --main-bg-fondo: #F4F1E9; /*color de fondo*/
  --main-color-gris: #868275; /*color gris*/
  --main-color-amarillo: #EBD615; /*color amarillo*/
  --main-color-negro: #191400; /*color negro*/
}